@import "tailwindcss";

:root {
}

@theme inline {
  --font-arabic: var(--font-scheherazade);
  --font-display: var(--font-dm-serif-display);
  --font-body: var(--font-dm-serif-text);
  --font-rakkas: var(--font-rakkas);
}

body {
  font-family: var(--font-body);
}
